@model ClothBazar.Entities.Category
@{
    ViewBag.Title = "Edit";

    var truechecked = Model.IsFeatured ? "checked" : string.Empty;
    var falsechecked = !Model.IsFeatured ? "checked" : string.Empty;
}
<h2>Edit Category</h2>
<form id="editCategory" method="post">
    <input type="hidden" name="ID" value="@Model.ID" />
    <label>Name</label>
    <input name="Name" value="@Model.Name" />
    <br />
    <label>Description</label>
    <input name="Description" value="@Model.Description" />
    <br />
    <label>Image</label>
    <div class="thumb">
        <img id="categoryImage" src="@Model.ImageURL" />

    </div>
    <br />
    <label>Is Featured?</label>
    <input name="IsFeatured" type="radio" value="True" @truechecked /> True
    <input name="IsFeatured" type="radio" value="False" @falsechecked /> False
    <br />
    <button id="updateBtn" type="button">Submit</button>
    <button class="btn btn-primary" id="cancelBtn" type="button">Cancel</button>
</form>

<script>


    //Search Button
    $("#updateBtn").click(function () {


        $.ajax({
            type: 'POST',
            url: '@Url.Action("Edit","Category")',
            data: $("#editCategory").serialize()

        })
            .done(function (response) {

                $("#tableContiner").html(response);
                $("#actionContiner").html("");
                focusAction("tableContiner");

            })
            .fail(function (XMLHttpRequest, textStatus, errorThrown) {
                alert("Fail")
            });
    });

    $("#cancelBtn").click(function () {

        $("#actionContiner").html("");

        focusAction("tableContiner");
    });
</script>
